footer.footer
    .footer__innner
        .footer__main
            .footer__menu
                ul.footer__article-list 記事一覧
                        li.footer__article-item ボディタイプ
                        li.footer__article-item メーカー
                        li.footer__article-item カスタム&メンテナンス
                        li.footer__article-item イベント
                        li.footer__article-item ライフスタイル
                        li.footer__article-item OTHER
                ul.footer__link-list
                    li.footer__link-item アメマガ厳選<br>アメ車ショップ一覧
                    li.footer__link-item アメ車買取査定一括<br>サービス
                    li.footer__link-item チューナーズ
                    li.footer__link-item 運営会社
                    li.footer__link-item プライバシーポリシー
                    li.footer__link-item お問い合わせ
            .footer__banner-wrapper
                .footer__banner
                    a(href="").footer__banner-link
                        picture.footer__banner-img
                            source(srcset=IMG_PATH+"footer_banner_sp_0.png" media="(max-width: 768px)")
                            img(src=IMG_PATH+"footer_banner_pc_0.png" , alt="")
                    a(href="").footer__banner-link
                        picture.footer__banner-img
                            source(srcset=IMG_PATH+"footer_banner_sp_1.png" media="(max-width: 768px)")
                            img(src=IMG_PATH+"footer_banner_pc_1.png" , alt="")
                    a(href="").footer__banner-link
                        picture.footer__banner-img
                            source(srcset=IMG_PATH+"footer_banner_sp_2.png" media="(max-width: 768px)")
                            img(src=IMG_PATH+"footer_banner_pc_2.png" , alt="")
                    a(href="").footer__banner-link
                        picture.footer__banner-img
                            source(srcset=IMG_PATH+"footer_banner_sp_3.png" media="(max-width: 768px)")
                            img(src=IMG_PATH+"footer_banner_pc_3.png" , alt="")
                .footer__sns.pc-only.pc-only--flex
                    a(href="").footer__sns-link
                        img(src=IMG_PATH+"icon_instagram.png" , alt="").footer__sns-icon
                    a(href="").footer__sns-link
                        img(src=IMG_PATH+"icon_twitter.png" , alt="").footer__sns-icon
                    a(href="").footer__sns-link
                        img(src=IMG_PATH+"icon_facebook.png" , alt="").footer__sns-icon
                    a(href="").footer__sns-link
                        img(src=IMG_PATH+"icon_youtube.png" , alt="").footer__sns-icon--youtube
        img(src=IMG_PATH+"logo.png" , alt="").footer__logo
        p.footer__description アメ車MAGAZINE.comとは、株式会社文友舎が著作権を保有する刊行物「アメ車MAGAZINE」に掲載されている情報等を元に株式会社アカネソリューションズが管理、アメリカ文化を発信するサイトとなっております。<span class=line-break-pc> クルマの魅力は元よりイベント等の情報、また販売車輛及びパーツ検索も出来る、アメ車の事なら何でもOKのサイトです。
        .footer__sns.sp-only
            a(href="").footer__sns-link
                img(src=IMG_PATH+"icon_instagram.png" , alt="").footer__sns-icon
            a(href="").footer__sns-link
                img(src=IMG_PATH+"icon_twitter.png" , alt="").footer__sns-icon
            a(href="").footer__sns-link
                img(src=IMG_PATH+"icon_facebook.png" , alt="").footer__sns-icon
            a(href="").footer__sns-link
                img(src=IMG_PATH+"icon_youtube.png" , alt="").footer__sns-icon--youtube
    .footer__copyright © アメ車のWEBマガジン　アメ車マガジン公式WEBサイト<span class=line-break-sp></span>| アメマガ All rights reserved.
